<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EduQuest - Edit course content</title>
    <%- include('partials/headerlinks.ejs') %>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <%- include('partials/sidebar.ejs') %>
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="container-fluid">
          <h2>Edit course content</h2>
          <div class="row" id="userCardsContainer">
            <div class="card">
              <div class="card-body">
                <form id="Form" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label class="form-label">Short Description</label>
                    <input class="form-control" id="shortdesInput" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Long Description</label>
                    <input class="form-control" id="longdesInput" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Video</label>
                    <input
                      type="file"
                      accept="video/*"
                      class="form-control"
                      id="videoInput"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Thumbnail URL</label>
                    <input class="form-control" id="thumbnailUrlInput" />
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footerscripts.ejs') %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const saved = localStorage.getItem("course");
        let data = {};
        if (saved) {
          data = JSON.parse(saved);
          document.getElementById("shortdesInput").value =
            data.short_description || "";
          document.getElementById("longdesInput").value =
            data.long_description || "";
          document.getElementById("thumbnailUrlInput").value =
            data.thumbnail_path || "";
        }

        const Form = document.getElementById("Form");
        Form.addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData();
          formData.append(
            "short_description",
            document.getElementById("shortdesInput").value
          );
          formData.append(
            "long_description",
            document.getElementById("longdesInput").value
          );
          const videoFile = document.getElementById("videoInput").files[0];
          formData.append("video", videoFile);
          formData.append(
            "thumbnail_path",
            document.getElementById("thumbnailUrlInput").value
          );
          fetch(`/api/admin/updatecoursecontent/${data._id}`, {
            method: "PATCH",
            body: formData,
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              console.log("Data sent successfully:", data);
              window.location.replace(document.referrer);
            })
            .catch((error) => {
              console.error("There was a problem sending the data:", error);
            });
        });
      });
    </script>
  </body>
</html>
